@import url("../../../styles/transitions.css");

.image-container,
.image-container * {
  box-sizing: border-box;
}

.image-container {
  position: relative;
  overflow: hidden;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.image-container .picture {
  display: flex;
  height: 100%;
}

.image-container .image {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}
