.item-container,
.item-container * {
  box-sizing: border-box;
}

.item-container {
  display: flex;
  flex-direction: row;
  background-color: gray;
  padding: 10px;
  position: absolute;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-content {
  padding: 15px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 15px;
  width: calc(100% - 80px - 15px);
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-text {
  font-weight: bold;
  color: #666;
  font-size: 16px;
}

.item-metadata {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}

.item-image {
  width: 100%;
  height: 100%;
  max-height: 168px;
  object-fit: cover;
  object-position: bottom;
}
