@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");

.text-container,
.text-container * {
  box-sizing: border-box;
}

.text-container {
  font-family: var(--default-font-family);
  color: var(--utils-gray-dark);
}

.text-container.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
