.business-card-container,
.business-card-container * {
  box-sizing: border-box;
}

.business-card-container {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* layout */
  padding: 10px;
  border-radius: 10px;

  /* dimensions */
  aspect-ratio: 3.5 / 2;
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: auto;

  /* colors */
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
  box-shadow:
    0 3px 4px 0 rgb(0 0 0 / 14%),
    0 3px 3px -2px rgb(0 0 0 / 20%),
    0 1px 8px 0 rgb(0 0 0 / 12%);

  /* fonts */
  font-family: verdana, geneva, tahoma, sans-serif;
}

@media (orientation: portrait) {
  .business-card-container {
    /* dimensions */
    aspect-ratio: 2 / 3.5;
    height: 100%;
    max-height: 500px;
    width: auto;
    max-width: auto;
  }
}
