@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.business-card-container,
.business-card-container * {
  box-sizing: border-box;
}

.business-card-container {
  /* positioning */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  /* layout */
  padding: var(--content-spacing-medium);
  border-radius: var(--border-radius-medium);

  /* dimensions */
  aspect-ratio: 3.5 / 2;
  width: 500px;
  height: auto;

  /* colors */
  background-color: var(--neutrals-white);
  color: var(--neutrals-black);
  box-shadow: var(--content-shadow);

  /* fonts */
  font-family: var(--default-font-family);
}

.business-card-container .business-card-left {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;

  /* dimensions */
  width: 180px;
  height: 100%;
}

.business-card-container .business-card-right {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* dimensions */
  width: calc(100% - 180px);
  height: 100%;
  max-width: 300px;
}

.business-card-container .avatar-container {
  /* dimensions */
  width: 140px;
  height: 140px;

  /* layout */
  border-radius: var(--border-radius-50);
}

.business-card-container .business-card-name {
  /* fonts */
  font-size: var(--font-size-large);
  text-align: center;

  /* colors */
  color: var(--utils-gray-darker);

  /* layout */
  margin-bottom: var(--content-spacing-medium);
}

.business-card-container .business-card-title {
  /* fonts */
  font-size: var(--font-size-medium);
  text-align: center;

  /* colors */
  color: var(--utils-gray-dark);

  /* layout */
  margin-bottom: var(--content-spacing-xlarge);
}

.business-card-container .business-card-links {
  /* positioning */
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* dimensions */
  width: 100%;
}

.business-card-container .business-card-links a {
  /* layout */
  padding: var(--content-spacing-medium);
}

.business-card-container .business-card-links a:not(:last-child) {
  /* layout */
  margin-right: var(--content-spacing-small);
}

@media (orientation: portrait) {
  .business-card-container {
    /* positioning */
    flex-direction: column;

    /* dimensions */
    aspect-ratio: 2 / 3.5;
    height: 500px;
    width: auto;
  }

  .business-card-container .business-card-left {
    /* positioning */
    justify-content: flex-end;
    align-items: center;

    /* dimensions */
    height: 180px;
    width: 100%;
  }

  .business-card-container .business-card-right {
    /* positioning */
    justify-content: flex-start;

    /* dimensions */
    width: 100%;
    max-width: auto;
    height: 300px;

    /* layout */
    padding-top: 40px;
  }
}
