@import "../../styles//transitions.css";
@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.ratings-container,
.ratings-container * {
  box-sizing: border-box;
}

.ratings-container {
  display: flex;
}

.ratings-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.ratings-star {
  font-size: var(--font-size-large);
  color: var(--neutral-gray-102);
  cursor: pointer;
  transition: var(--default-transition);
  user-select: none;
}

.ratings-star.active {
  color: var(--fancy-gold);
}

.ratings-star:not(.active):hover,
.ratings-star:not(.active):hover ~ .ratings-star {
  color: var(--fancy-gold);
}
