.draggable-container,
.draggable-container *,
.droppable-container,
.droppable-container * {
  box-sizing: border-box;
}

.draggable-container {
  cursor: move;
}

.droppable-container.over {
  border: 3px dotted #666;
}
