@import url("../../../styles/transitions.css");

.draggable-container,
.draggable-container * {
  box-sizing: border-box;
}

.draggable-container {
  cursor: move;
  z-index: 2;
  transition: var(--default-transition);
}
