@import url("../../../styles/layout.css");

.drag-and-drop-list-container,
.drag-and-drop-list-container * {
  box-sizing: border-box;
}

.drag-and-drop-list-container {
  position: relative;
  padding: var(--content-spacing-medium) 0;
  height: 242px;
}

.drag-and-drop-list-container .list-ul {
  padding: 0;
}

.drag-and-drop-list-container .list-li {
  cursor: move;
  width: calc(100% - var(--content-spacing-medium) * 2);
  margin: 0 var(--content-spacing-medium);
}

.drag-and-drop-list-container .list-li.over {
  border-color: var(--utils-gray-light);
  color: var(--utils-gray-light);
}

.drag-and-drop-list-container .list-li.absolute {
  position: absolute;
  transition: none;
}

.drag-and-drop-list-container .icon {
  pointer-events: none;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.drag-and-drop-list-container .icon svg {
  width: 50%;
  height: 50%;
  fill: var(--neutrals-gray-128);
}

.drag-and-drop-list-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
