@import url("../../../styles//colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.drag-and-drop-container,
.drag-and-drop-container * {
  box-sizing: border-box;
}

.drag-and-drop-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  width: 100%;
  box-shadow: var(--content-shadow);
}

.drag-and-drop-container .drag-and-drop-header {
  background: var(--neutrals-white);
  position: relative;
}

.drag-and-drop-container .drag-and-drop-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-more-bold);
  margin-bottom: var(--content-spacing-medium);
}

.drag-and-drop-container .drag-and-drop-description {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-less-bold);
  margin-bottom: var(--content-spacing-medium);
}

.drag-and-drop-container .drag-and-drop-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius-large);
  margin-top: var(--content-spacing-large);
  border: var(--border-width-medium) solid var(--utils-gray-light);
  overflow: hidden;
  position: relative;
}

.drag-and-drop-container .drag-and-drop-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background: var(--utils-gray-dark);
  justify-content: space-evenly;
  align-items: center;
}

.drag-and-drop-container .drag-and-drop-droppable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--neutrals-gray-230);
  flex: 1;
  font-family: var(--default-font-family);
  font-size: var(--font-size-medium);
  padding: var(--content-spacing-medium);
}

.drag-and-drop-container .drag-and-drop-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--utils-highlight-orange);
  transition: var(--default-transition);
}

.drag-and-drop-container .drag-and-drop-box:hover,
.drag-and-drop-container .drag-and-drop-box.over {
  background-color: var(--utils-highlight-orange-light);
}

.drag-and-drop-container .drag-and-drop-box.absolute {
  position: absolute;
  transition: none;
}
