@import url("../../../styles/accessibility.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.table-container,
.table-container * {
  box-sizing: border-box;
}

.table-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-medium);
  max-width: 400px;
  width: 100%;
  height: 184px;
  box-shadow: var(--content-shadow);
  font-family: var(--default-font-family);
  font-size: var(--font-size-small);
}

.table-container table {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.table-container thead {
  display: flex;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.table-container tr {
  display: flex;
  position: relative;
  color: var(--utils-gray-dark);
  line-height: var(--font-size-small);
  cursor: pointer;
  transition: var(--default-transition);
  width: 100%;
}

.table-container thead tr {
  background-color: var(--utils-highlight-orange);
}

.table-container tr:not(:last-child) {
  border-bottom: 1px solid var(--utils-gray-dark);
}

.table-container tbody tr:nth-child(even) {
  background-color: var(--neutrals-gray-230);
}

.table-container tbody tr:nth-child(odd) {
  background-color: var(--neutrals-white);
}

.table-container th {
  border-bottom: 1px solid var(--utils-gray-dark);
  align-items: center;
  justify-content: space-between;
}

.table-container td,
.table-container th {
  padding: var(--content-spacing-medium);
  display: flex;
  flex: 1 1 0;
  width: 0;
  position: relative;
}

.table-container td:not(:last-child),
.table-container th:not(:last-child) {
  border-right: 1px solid var(--utils-gray-dark);
}

/* .table-container th::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: var(--content-spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} */

.table-container .cell-arrow {
  display: flex;
  content: "";
  width: 0;
  height: 0;
  pointer-events: none;
}

.table-container .cell-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container .cell-arrow,
.table-container .cell-title {
  pointer-events: none;
}

/* .table-container th.cell-desc::after */
.table-container th.cell-desc .cell-arrow {
  border-bottom: var(--content-spacing-small) solid var(--utils-gray-dark);
  border-left: var(--content-spacing-small) solid transparent;
  border-right: var(--content-spacing-small) solid transparent;
}

/* .table-container th.cell-asc::after */
.table-container th.cell-asc .cell-arrow {
  border-top: var(--content-spacing-small) solid var(--utils-gray-dark);
  border-left: var(--content-spacing-small) solid transparent;
  border-right: var(--content-spacing-small) solid transparent;
}

.table-container .table-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
