body {
  /* primary neutrals */
  --neutrals-white: rgb(255 255 255); /* #ffffff */
  --neutrals-black: rgb(0 0 0); /* #000000 */

  /* neutral gray */
  --neutrals-gray-102: rgb(102 102 102); /* #666666 */
  --neutrals-gray-118: rgb(118 118 118); /* #767676 */
  --neutrals-gray-128: rgb(128 128 128); /* 808080 */
  --neutrals-gray-153: rgb(153 153 153); /* #999999 */
  --neutrals-gray-204: rgb(204 204 204); /* #cccccc */
  --neutrals-gray-230: rgb(230 230 230); /* #e6e6e6 */

  /* utils gray */
  --utils-gray-lighter: #a4adb8; /* #a4adB8 */
  --utils-gray-light: rgb(119 136 153); /* lightslategray, #778899 */
  --utils-gray-dark: rgb(47 79 79); /* darkslategray, #2f4f4f */
  --utils-gray-darker: rgb(58 66 74); /* #3a424a */

  /* highlights */
  --utils-highlight-olive: rgb(107 142 35); /* olivedrab, #6b8e23 */
  --utils-highlight-red: rgb(139 0 0); /* darkred, #8b0000 */

  /* misc colors */
  --fancy-gold: rgb(218 165 32); /* #daa520 */

  /* shadows */
  --content-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%),
    0 3px 3px -2px rgb(0 0 0 / 20%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}
