body {
  /* border-radius pixels */
  --border-radius-xsmall: 2px;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;

  /* border-radius percentages */
  --border-radius-50: 50%;

  /* border-widths */
  --border-width-small: 1px;
  --border-width-medium: 2px;
  --border-width-large: 4px;

  /* content spacing */
  --content-spacing-small: 5px;
  --content-spacing-medium: 10px;
  --content-spacing-large: 15px;
  --content-spacing-xlarge: 20px;
}
