@import url("../../../styles/accessibility.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/transitions.css");

.input-container,
.input-container * {
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-family: var(--default-font-family);
}

.input-container .label {
  font-size: var(--font-size-small);
  padding: var(--content-spacing-medium);
}

.input-container .input {
  outline: 0;
  padding: var(--content-spacing-medium);
  border-radius: var(--border-radius-medium);
  border: var(--border-width-medium) solid var(--utils-gray-dark);
  color: var(--utils-gray-dark);
  transition: var(--default-transition);
  max-width: 400px;
}

.input-container .input[type="submit"] {
  cursor: pointer;
}

.input-container .input:hover {
  border-color: var(--utils-gray-light);
  color: var(--utils-gray-light);
}

.input-container .input:focus {
  border-color: var(--utils-gray-darker);
  color: var(--utils-gray-darker);
}

.input-container .input::placeholder {
  color: var(--utils-gray-dark);
  opacity: 0.5;
}
