@import url("../../../styles/accessibility.css");

.select-container,
.select-container * {
  box-sizing: border-box;
}

.select-container {
  display: flex;
}

.select-container .select {
  outline: 0;
  padding: var(--content-spacing-medium);
  border-radius: var(--border-radius-medium);
  border: var(--border-width-medium) solid var(--utils-gray-dark);
  color: var(--utils-gray-dark);
  transition: var(--default-transition);
  font-family: var(--default-font-family);
}

.select-container .select:hover {
  border-color: var(--utils-gray-light);
  color: var(--utils-gray-light);
}

.select-container .option {
  color: var(--utils-gray-dark);
}
