.select-container,
.select-container * {
  box-sizing: border-box;
}

.select-container .select {
  outline: 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid darkorange;
  color: darkorange;
  transition: all 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.select-container .select:hover {
  border-color: orangered;
}

.select-container .option {
  color: darkorange;
}
