@import url("../../../styles/accessibility.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.toggle-container,
.toggle-container * {
  box-sizing: border-box;
}

.toggle-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 42px;
  height: 22px;
  position: relative;
}

.toggle-label {
  width: 42px;
  height: 16px;
  display: flex;
  background-color: var(--utils-gray-light);
  border-radius: 22px;
  cursor: pointer;
}

.toggle-switch {
  position: absolute;
  left: 0;
  top: 3px;
  background-color: var(--utils-gray-dark);
  border-radius: 22px;
  transition: var(--default-transition);
  width: 45%;
  height: 16px;
  pointer-events: none;
}

.toggle-switch::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0;
  bottom: -3px;
  background-color: var(--utils-highlight);
  border-radius: var(--border-radius-50);
  transition: var(--default-transition);
}

.toggle-label input[type="checkbox"] {
  display: none;
}

.toggle-label input[type="checkbox"]:checked + .toggle-switch::before {
  transform: translateX(20px);
}

.toggle-label input[type="checkbox"]:checked + .toggle-switch {
  width: 100%;
}
