@import url("../../../styles/accessibility.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.pollwidget-container,
.pollwidget-container * {
  box-sizing: border-box;
}

.pollwidget-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  width: 100%;
  box-shadow: var(--content-shadow);
}

.pollwidget-container .pollwidget-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-more-bold);
  margin-bottom: var(--content-spacing-medium);
}

.pollwidget-container .pollwidget-list {
  margin-top: var(--content-spacing-large);
}

.pollwidget-container .option-container {
  padding: var(--content-spacing-small);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-small);
  border: var(--border-width-medium) solid var(--utils-gray-light);
  position: relative;
}

.pollwidget-container .option-container:not(:last-child) {
  margin-bottom: var(--content-spacing-large);
}

.option-container .top {
  padding: var(--content-spacing-small) var(--content-spacing-large);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.option-container .left {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-self: center;
}

.option-container .right {
  display: flex;
  flex-direction: row;
  flex: 0;
}

.option-container .right .button-container {
  width: 80px;
}

.option-container .right .button-container button {
  width: 100%;
  text-align: right;
}

.option-container .bottom {
  height: var(--content-spacing-medium);
  position: relative;
  background: var(--neutrals-gray-204);
  border-radius: var(--border-radius-medium);
  pointer-events: none;
  margin: 0 var(--content-spacing-large) var(--content-spacing-small);
}

.option-container .bottom .progress {
  width: 0%;
  height: 100%;
  background-color: var(--neutrals-gray-102);
  border-radius: inherit;
  transition: var(--default-transition);
}

.option-container.selected .progress {
  background-color: var(--utils-highlight-olive);
}
