@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.button-container,
.button-container * {
  box-sizing: border-box;
}

.button-container .button {
  border: none;
  padding: var(--content-spacing-medium);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  border-width: var(--border-width-small);
  border-style: solid;
  transition: var(--default-transition);
  font-family: var(--default-font-family);
  width: inherit;
}

.button-container .button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-container .button-primary {
  background-color: var(--utils-gray-dark);
  border-color: var(--utils-gray-dark);
  color: var(--neutrals-white);
}

.button-container .button-primary:hover {
  background-color: var(--utils-gray-light);
  border-color: var(--utils-gray-light);
}

.button-container .button-secondary {
  background-color: transparent;
  border-color: var(--utils-gray-dark);
  color: var(--utils-gray-dark);
}

.button-container .button-secondary:hover {
  border-color: var(--utils-gray-light);
  color: var(--utils-gray-light);
}

.button-container .button-icon {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.button-container .button-icon:hover {
  opacity: 0.5;
}

.button-container .button-icon svg path {
  fill: var(--utils-gray-dark);
  transition: var(--default-transition);
}
