@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");

.input-form-container,
.input-form-container * {
  box-sizing: border-box;
}

.input-form-container {
  display: flex;
  flex-direction: column;
  background: var(--neutrals-white);
  width: 100%;
  max-width: 400px;
  font-family: var(--default-font-family);
}

.input-form-container .input-form-content {
  max-width: 400px;
  width: 100%;
  background: var(--neutrals-white);
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.input-form-container form {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.input-form-container .input-container:not(:last-child) {
  margin-right: var(--content-spacing-medium);
  flex: 1;
}

.input-form-container .input-container:not(:last-child) input {
  flex: 1;
}
