.input-form-container,
.input-form-container * {
  box-sizing: border-box;
}

.input-form-container {
  display: flex;
}

.input-form-container form {
  display: flex;
}

.input-form-container .input-container:not(:last-child) {
  margin-right: 10px;
}
