@import url("../../../styles/colors.css");
@import url("../../../styles/layout.css");

.infinite-list,
.infinite-list * {
  box-sizing: border-box;
}

.infinite-list {
  width: 100%;
  background-color: transparent;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: var(--border-radius-small);
  box-shadow: var(--content-shadow);
}

.infinite-list .list-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
