@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.radio-button-container,
.radio-button-container * {
  box-sizing: border-box;
}

.radio-button-container {
  display: flex;
  color: var(--utils-gray-dark);
  font-family: var(--default-font-family);
}

.radio-button-container .label {
  margin-left: var(--content-spacing-small);
  font-family: inherit;
  cursor: pointer;
}

.radio-button-container .input {
  /* hide & reset */
  appearance: none;
  background-color: transparent;
  margin: 0;

  /* custom styles */
  font: inherit;
  color: currentcolor;
  width: 20px;
  height: 20px;
  border: var(--border-width-medium) solid currentcolor;
  border-radius: var(--border-radius-50);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radio-button-container .input::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--utils-gray-light);
  border-radius: var(--border-radius-50);
  transition: var(--default-transition);
}

.radio-button-container .input:checked::before {
  transform: scale(1);
}

.radio-button-group-container .radio-button-container:not(:last-child) {
  margin-bottom: var(--content-spacing-medium);
}
