@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.dynamic-autocomplete-container,
.dynamic-autocomplete-container * {
  box-sizing: border-box;
}

.dynamic-autocomplete-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  width: 100%;
  box-shadow: var(--content-shadow);
}

.dynamic-autocomplete-container .autocomplete-header {
  background: var(--neutrals-white);
  position: relative;
}

.dynamic-autocomplete-container .autocomplete-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-more-bold);
  margin-bottom: var(--content-spacing-medium);
}

.dynamic-autocomplete-container .input-container {
  margin-top: var(--content-spacing-medium);
}

.dynamic-autocomplete-container .list-container {
  margin-top: var(--content-spacing-medium);
  box-shadow: none;
  border: var(--border-width-medium) solid var(--utils-gray-dark);
}

.dynamic-autocomplete-container .list-container a {
  flex: 1;
}

.dynamic-autocomplete-container .loader-container {
  left: auto;
  right: 15px;
  top: 15px;
}
