@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.autocomplete-container,
.autocomplete-container * {
  box-sizing: border-box;
}

.autocomplete-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  width: 100%;
  box-shadow: var(--content-shadow);
}

.autocomplete-container .autocomplete-header {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-medium) var(--content-spacing-large)
    var(--content-spacing-medium) var(--content-spacing-medium);
  box-shadow: var(--content-shadow);
  position: relative;
}

.autocomplete-container .autocomplete-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-more-bold);
  margin-bottom: var(--content-spacing-medium);
}

.autocomplete-container .input-container {
  margin-top: var(--content-spacing-medium);
}

.autocomplete-container .list-container {
  margin-top: var(--content-spacing-medium);
}

.autocomplete-container .loader-container {
  left: auto;
  right: 15px;
  top: 15px;
}
