@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");

.link,
.link * {
  box-sizing: border-box;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: first baseline;
  font-family: var(--default-font-family);
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: var(--utils-gray-dark);
  transition: var(--default-transition);
}

.link svg {
  fill: var(--utils-gray-dark);
  transition: var(--default-transition);
}

.link:hover {
  color: var(--utils-gray-light);
}

.link:hover svg {
  fill: var(--utils-gray-light);
}
