@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");

.list-pagination,
.list-pagination * {
  box-sizing: border-box;
}

.list-pagination {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  box-shadow: var(--content-shadow);
  font-family: var(--default-font-family);
}

.list-pagination .list-container {
  box-shadow: none;
  border: var(--border-width-medium) solid var(--neutrals-gray-128);
  height: 285px;
}

.list-pagination .pagination-container {
  justify-content: center;
  margin-top: var(--content-spacing-medium);
  background-color: var(--neutrals-gray-102);
  border-radius: var(--border-radius-large);
}

.list-pagination .pagination-container .pagination-button button {
  background-color: transparent;
  border-color: transparent;
  color: var(--neutrals-white);
}

.list-pagination .pagination-container .pagination-button-active button {
  background-color: transparent;
  border-color: transparent;
  color: var(--utils-highlight-orange);
}

.list-pagination .pagination-container .pagination-button button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--utils-gray-light);
}

.list-pagination .pagination-container .pagination-button-active button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--utils-highlight-orange-light);
}

.list-pagination .item-text {
  line-height: var(--font-size-medium);
}
