@import url("../../styles/colors.css");
@import url("../../styles/fonts.css");
@import url("../../styles/layout.css");
@import url("../../styles//transitions.css");

.tic-tac-toe-container,
.tic-tac-toe-container * {
  box-sizing: border-box;
}

.tic-tac-toe-container {
  background: var(--neutrals-white);
  border-radius: var(--border-radius-large);
  padding: var(--content-spacing-xlarge);
  max-width: 400px;
  min-width: 280px;
  width: 100%;
  box-shadow: var(--content-shadow);
  position: relative;
  font-family: var(--default-font-family);
}

.tic-tac-toe-container .tic-tac-toe-header {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background: var(--neutrals-white);
  position: relative;
}

.tic-tac-toe-container .tic-tac-toe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-more-bold);
  margin-bottom: var(--content-spacing-medium);
}

.tic-tac-toe-container .tic-tac-toe-button {
  width: 100%;
}

.tic-tac-toe-container .tic-tac-toe-board {
  margin-top: var(--content-spacing-medium);
  border: var(--border-width-medium) solid var(--utils-gray-dark);
  border-radius: var(--border-radius-small);
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: var(--content-spacing-xlarge);
}

.tic-tac-toe-container .cell {
  width: calc(100% / 3);
  height: auto;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tic-tac-toe-container .cell::after {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  color: var(--utils-gray-dark);
  transition: var(--default-transition);
  background-color: transparent;
  content: " ";
}

/* remove border for edges */
.tic-tac-toe-container .cell:nth-child(1),
.tic-tac-toe-container .cell:nth-child(2),
.tic-tac-toe-container .cell:nth-child(3) {
  border-top: none;
}

.tic-tac-toe-container .cell:nth-child(1),
.tic-tac-toe-container .cell:nth-child(4),
.tic-tac-toe-container .cell:nth-child(7) {
  border-left: none;
}

.tic-tac-toe-container .cell:nth-child(3),
.tic-tac-toe-container .cell:nth-child(6),
.tic-tac-toe-container .cell:nth-child(9) {
  border-right: none;
}

.tic-tac-toe-container .cell:nth-child(7),
.tic-tac-toe-container .cell:nth-child(8),
.tic-tac-toe-container .cell:nth-child(9) {
  border-bottom: none;
}

.tic-tac-toe-container .tic-tac-toe-message {
  display: flex;
  margin-top: var(--content-spacing-xlarge);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* no cursor for set cells */
.tic-tac-toe-container .cell.x,
.tic-tac-toe-container .cell.circle {
  cursor: not-allowed;
}

/* for cross */
.tic-tac-toe-container
  .tic-tac-toe-board.x
  .cell:not(.circle, .x):hover::after {
  content: "X";
  background-color: var(--utils-gray-light);
  color: var(--neutrals-white);
}

/* for cross (set) */
.tic-tac-toe-container .cell:not(.circle).x::after {
  content: "X";
}

/* for circle */
.tic-tac-toe-container
  .tic-tac-toe-board.circle
  .cell:not(.circle, .x):hover::after {
  content: "O";
  background-color: var(--utils-gray-light);
  color: var(--neutrals-white);
}

/* for circle (set) */
.tic-tac-toe-container .cell:not(.x).circle::after {
  content: "O";
}

/* disable pointer events when not actively playing */
.tic-tac-toe-container .tic-tac-toe-board .disabled {
  pointer-events: none;
}
