@import url("../../../styles/colors.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.simple-carousel-container,
.simple-carousel-container * {
  box-sizing: border-box;
}

.simple-carousel-container {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  border-radius: var(--border-radius-small);
  box-shadow: var(--content-shadow);
  position: relative;
}

.simple-carousel-container .simple-carousel-content {
  position: absolute;
  min-width: 100%;
  height: 100%;
  transition: var(--default-transition);
  display: flex;
  flex-direction: row;
}

.simple-carousel-container .button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.simple-carousel-container .button-container.next {
  width: 44px;
  height: 44px;
  right: 0px;
}

.simple-carousel-container .button-container.prev {
  width: 44px;
  height: 44px;
  left: 0px;
}
