@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.checkbox-container,
.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  flex: 1;
  align-items: center;
  color: var(--utils-gray-dark);
  font-family: var(--default-font-family);
  transition: var(--default-transition);
}

.checkbox-container:hover {
  color: var(--utils-gray-light);
}

.checkbox-container .label {
  margin-left: var(--content-spacing-small);
  font-family: inherit;
  cursor: pointer;
  flex: 1;
}

.checkbox-container .input {
  /* hide & reset */
  appearance: none;
  background-color: transparent;
  margin: 0;

  /* custom styles */
  font: inherit;
  color: currentcolor;
  width: 20px;
  height: 20px;
  border: var(--border-width-medium) solid currentcolor;
  border-radius: var(--border-radius-small);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox-container .input::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--utils-gray-light);
  border-radius: var(--border-radius-xsmall);
  transition: var(--default-transition);
}

.checkbox-container .input:checked::before {
  transform: scale(1);
}

.input-group-container .checkbox-container:not(:last-child) {
  margin-bottom: var(--content-spacing-medium);
}
