@import url("../../../styles/colors.css");
@import url("../../../styles/layout.css");

.image-slider-container,
.image-slider-container * {
  box-sizing: border-box;
}

.image-slider-container {
  height: 100%;
  background-color: transparent;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: var(--border-radius-small);
  box-shadow: var(--content-shadow);
  position: relative;
}

.image-slider-container .image-slider-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
