@import url("../../../styles/colors.css");
@import url("../../../styles/fonts.css");
@import url("../../../styles/layout.css");
@import url("../../../styles/transitions.css");

.display-image-container,
.display-image-container * {
  box-sizing: border-box;
}

.display-image-container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutrals-gray-128);
  padding: min(calc(100% / 20), var(--content-spacing-medium));
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
}

.display-image-container .item-content {
  padding: min(calc(100% / 20), var(--content-spacing-medium));
  width: 100%;
  height: 100%;
  background: var(--neutrals-white);
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  isolation: isolate;
  box-shadow: var(--content-shadow);
}

.display-image-container .item-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-image-container .item-placeholder svg {
  width: 50%;
  height: 50%;
  fill: var(--neutrals-gray-128);
  opacity: 0.25;
}
